<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{battlePets.title}">Your pets !</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script>var whTooltips = {colorLinks: false, iconizeLinks: true, renameLinks: false};</script>
    <script src="https://wow.zamimg.com/widgets/power.js"></script>
</head>
<body>

<main role="main" class="container">

    <h1 th:text="#{battlePets.headline(
        ${#strings.capitalize(characterIdentity.character)},
        ${#strings.toUpperCase(characterIdentity.region)},
        ${#strings.capitalize(characterIdentity.realm)}
    )}">Pets for Giantstone (EU-Hyjal)</h1>

    <div class="starter-template">
        <div class="progress">
            <div class="progress-bar" role="progressbar"
                 th:aria-valuenow="${collected}" aria-valuemin="0" th:aria-valuemax="${total}"
                 th:style="'width: ' + ${100.0 * collected / total} + '%'">
                <span th:text="${collected} + '/' + ${total}"></span>
            </div>
        </div>
    </div>

    <h1 th:text="#{battlePets.missingPets.title}">Missing pets</h1>

    <div>
        <th:block th:each="missingPet : ${missingPets}">
            <a th:href="'https://www.wowhead.com/npc=' + ${missingPet.creatureId}" th:data-wowhead="'npc=' + ${missingPet.creatureId}">
                <img class="rounded d-inline m-1 border" th:src="'https://render-eu.worldofwarcraft.com/icons/56/' + ${missingPet.icon} + '.jpg'" />
            </a>
        </th:block>
    </div>
</main>

</body>
</html>
