<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{application.title}">Your pets !</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/signin.css}">
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>



<div class="container">

    <h1 th:text="#{application.title}"></h1>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/img/battle_pets_vignette.png">
        <div class="card-body">
            <h5 class="card-title" th:text="#{battlePets.smallTitle}"></h5>
            <p class="card-text" th:text="#{battlePets.description}"></p>
            <a href="pets" class="btn btn-primary">Go</a>
        </div>
    </div>

</div>


</body>
